 body {
     background-color: aliceblue;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     Padding-bottom: 10px;
 }

 .LeftDriverPic {
     border-style: solid;
     margin-top: 10px;
     border-color: black;
     border-radius: 30px;
     border-width: 5px;
     width: 48%;
     margin-left: 10px;
 }

 .CarPic {
     border-style: solid;
     border-color: black;
     border-radius: 30px;
     border-width: 5px;
     width: 48%;
     margin-left: 10px;
 }

 .CarDesc {
     max-width: 48%;
     font-size: 200%;
     margin-right: 10px;
 }

 .RightDriverPic {
     border-style: solid;
     margin-top: 10px;
     border-color: black;
     border-radius: 30px;
     border-width: 5px;
     width: 48%;
     margin-right: 10px;
 }

 .TeamPic {
     border-style: solid;
     margin-top: 10px;
     border-color: black;
     border-radius: 30px;
     border-width: 5px;
     border-radius: 15px;
     max-width: 98%;
     display: block;
     margin: 0 auto;
 }

 .TeamDesc {
     max-width: 98%;
     display: block;
     margin: 0 auto;
     font-size: 200%;
 }

 .LeftDriverDesc {
     max-width: 48%;
     font-size: 200%;
     margin-left: 10px;
     text-align: justify;
 }

 .RightDriverDesc {
     max-width: 48%;
     font-size: 200%;
     margin-right: 10px;
     text-align: justify;
 }

 .teambuttons {

     width: 146px;
     height: 70px;
     font-size: 177%;
     text-align: center;
     vertical-align: middle;
     color: white;
     border-radius: 10px;
 }

 .flex {
     display: flex;
     justify-content: space-between;
 }